@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

h1,h2,h3,h4,h4,p,li{
  font-family: 'Dosis', sans-serif;
  color: #ffffff;
}

/* unvisited link */
a:link {
  color: #df7126;
}

/* visited link */
a:visited {
  color: #df7126;
}

/* mouse over link */
a:hover {
  color: #df7126;
}

/* selected link */
a:active {
  color: #df7126;
}

.background{
  background: url('/assets/regensburg.jpg') no-repeat center center fixed; 
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  left: 0px;
  right: 0px;
}

.download-bar{
  visibility:hidden;
  font-size: 0px;
}

.tagline{
  visibility:hidden;
  font-size: 0px;
}

.current-section{
  visibility:hidden;
  font-size: 0px;
}

header>h1{
  text-align: center;
  border-style: none;
  background: #222222ee;
  border-radius: 50px;
}

footer{
  text-align: center;
  border-style: none;
  background: #222222ee;
  border-radius: 50px;
}

#container {
  border-style: none;
  background: #222222ee;
  border-radius: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}

@media (min-width: 800px) {
  #container,header>h1,footer {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 1000px) {
  #container,header>h1,footer {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (min-width: 1150px) {
  #container,header>h1,footer {
    margin-left: 250px;
    margin-right: 250px;
  }
}

.partner-image{
  max-width: 100%;
}

.flex-margin-left{
  margin-right: 25px;
  margin-left: 50px;
  border-style: none;
  background: #ffffff;
  border-radius: 25px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  @include media-query($on-laptop) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.flexible{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%; 
  grid-auto-flow: column;
  @include media-query($on-laptop) {
    display:block;
  }
}

.flex-margin-right{
  margin-left: 25px;
  margin-right: 50px;
  border-style: none;
  background: #ffffff;
  border-radius: 25px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  @include media-query($on-laptop) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.owner{
  padding-bottom: 25px;
}

