@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('assets/css/materialize.min.css');

h1,h2,h3,h4,h4,p{
  font-family: 'Dosis', sans-serif;
  color: #ffffff;
}

html{
  background-color: #000000;
}

header>h1{
  text-align: center;
  border-style: none;
  background: #239ecd;
  border-radius: 50px;
}

#container {
  border-style: none;
  background: #239ecd;
  border-radius: 50px;
}

@media (min-width: 1000px) {
  #container {
    border-left: 300px;
    border-right: 300px;
  }
  header>h1{
    border-left: 250px;
    border-right: 250px;
  }
}

