<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  
  <!--Import materialize.css-->
  <link rel="stylesheet" href="/materialize.css">
  
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>

{% seo %}

</head>

<body>
  <div class="background"></div>
  <div class="wrapper">
    <header>
      <!--<h1 class="title"><a href="https://regensburg.games">regensburg.games</a></h1>-->
      <a href="https://regensburg.games"><img src="/assets/regensburg-games-logo.png" alt="Logo" class="title-logo"></a>
      <img src="/assets/siegel.svg" alt="Seal" class="seal">
    </header>
    <div class="container">
      <p class="tagline">{{ site.description | default: site.github.project_tagline }}</p>
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          <a href="{{ site.github.repository_url }}" class="code">View {{ site.title | default: site.github.repository_name }} on GitHub</a>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          {{ content }}
        </article>
      </div>
    </div>
    <footer>
      <div class="creds">
        <div class="box-wrapper">
          <div class="partner-padding">
           <div class="partner-box">
             <img src="/assets/lyniat_games.png" alt="lyniat.games" class="partner-image">
           </div>
          </div>
          <div class="partner-padding">
           <div class="partner-box">
             <img src="/assets/teavelop.png" alt="Teavelop" class="partner-image">
           </div>
          </div>
          <div class="partner-padding">
           <div class="partner-box">
             <img src="/assets/waveor.jpg" alt="WAVEOR" class="partner-image">
           </div>
          </div>
          <div class="partner-padding">
           <div class="partner-box">
             <img src="/assets/brainjo_logo.png" alt="brainjo" class="partner-image">
           </div>
          </div>
          <div class="partner-padding">
           <div class="partner-box">
             <img src="/assets/DGO.png" alt="DGO" class="partner-image">
           </div>
            </div>
             <div class="partner-padding">
           <div class="partner-box">
             <img src="/assets/TechBase.png" alt="DGO" class="partner-image">
             </div>
           </div>
            <div class="partner-padding">
           <div class="partner-box">
             <img src="/assets/Logo_MI.png" alt="MI UR" class="partner-image">
           </div>
               </div>
         </div>
       </div>
      <div class="owner"> 
        <p><a href="https://regensburg.games/impressum">Impressum</a></p>
        <p>Theme based on Time Machine by <a href="http://jonrohan.codes" >Jon Rohan</a></p>
        <p>Original background by <a href="https://ansimuz.itch.io">ansimuz</a></p>

      </div>
    </footer>
  </div>
  <div class="current-section">
    <a href="#top">Scroll to top</a>
    <a href="{{ site.github.tar_url }}" class="tar">tar</a><a href="{{ site.github.zip_url }}" class="zip">zip</a><a href="" class="code">source code</a>
    <p class="name"></p>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
